{% comment %}
  ------------------------------------------------------------------------------
  Snippet: Icons
  ------------------------------------------------------------------------------
{% endcomment %}
{% case icon %}
	{% when 'arrow-up' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M19.9201 15.0496L13.4001 8.52965C12.6301 7.75965 11.3701 7.75965 10.6001 8.52965L4.08008 15.0496" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'arrow-down' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M19.9201 8.9502L13.4001 15.4702C12.6301 16.2402 11.3701 16.2402 10.6001 15.4702L4.08008 8.9502" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'arrow-left' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M14.9998 19.9201L8.47984 13.4001C7.70984 12.6301 7.70984 11.3701 8.47984 10.6001L14.9998 4.08008" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'arrow-right' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M8.91016 19.9201L15.4302 13.4001C16.2002 12.6301 16.2002 11.3701 15.4302 10.6001L8.91016 4.08008" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'arrow-right-secondary' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M14.4297 5.93018L20.4997 12.0002L14.4297 18.0702" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M3.5 12H20.33" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'arrow-left-2' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M9.57 5.93018L3.5 12.0002L9.57 18.0702" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M20.5019 12H3.67188" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'arrow-right-2' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M14.4297 5.93018L20.4997 12.0002L14.4297 18.0702" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M3.5 12H20.33" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'slider-arrow-left' %}
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
			<path d="M6.3787 3.95312L2.33203 7.99979L6.3787 12.0465" stroke="currentColor" stroke-width="1.5"
				  stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M13.6653 8H2.44531" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
				  stroke-linejoin="round"/>
		</svg>
	{% when 'slider-arrow-right' %}
		<svg class="icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
			<path d="M9.62109 3.95312L13.6678 7.99979L9.62109 12.0465" stroke="currentColor" stroke-width="1.5"
				  stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M2.33203 8H13.552" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
				  stroke-linejoin="round"/>
		</svg>
	{% when 'slider-arrow-up' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M18.0697 9.57L11.9997 3.5L5.92969 9.57" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M12 20.4999V3.66992" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'plus' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M6 12H18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M12 18V6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'minus' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M6 12H18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'delivery' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M13 14.75H2C1.59 14.75 1.25 14.41 1.25 14V6C1.25 3.38 3.38 1.25 6 1.25H15C15.41 1.25 15.75 1.59 15.75 2V12C15.75 13.52 14.52 14.75 13 14.75ZM2.75 13.25H13C13.69 13.25 14.25 12.69 14.25 12V2.75H6C4.21 2.75 2.75 4.21 2.75 6V13.25Z" fill="currentColor"/>
			<path d="M19 20.75H18C17.59 20.75 17.25 20.41 17.25 20C17.25 19.31 16.69 18.75 16 18.75C15.31 18.75 14.75 19.31 14.75 20C14.75 20.41 14.41 20.75 14 20.75H10C9.59 20.75 9.25 20.41 9.25 20C9.25 19.31 8.69 18.75 8 18.75C7.31 18.75 6.75 19.31 6.75 20C6.75 20.41 6.41 20.75 6 20.75H5C2.93 20.75 1.25 19.07 1.25 17V14C1.25 13.59 1.59 13.25 2 13.25H13C13.69 13.25 14.25 12.69 14.25 12V5C14.25 4.59 14.59 4.25 15 4.25H16.84C17.83 4.25 18.74 4.78001 19.23 5.64001L20.94 8.63C21.07 8.86 21.07 9.15 20.94 9.38C20.81 9.61 20.56 9.75 20.29 9.75H19C18.86 9.75 18.75 9.86 18.75 10V13C18.75 13.14 18.86 13.25 19 13.25H22C22.41 13.25 22.75 13.59 22.75 14V17C22.75 19.07 21.07 20.75 19 20.75ZM18.65 19.25H19C20.24 19.25 21.25 18.24 21.25 17V14.75H19C18.04 14.75 17.25 13.96 17.25 13V10C17.25 9.04 18.03 8.25 19 8.25L17.93 6.38C17.71 5.99 17.29 5.75 16.84 5.75H15.75V12C15.75 13.52 14.52 14.75 13 14.75H2.75V17C2.75 18.24 3.76 19.25 5 19.25H5.35001C5.68001 18.1 6.74 17.25 8 17.25C9.26 17.25 10.32 18.1 10.65 19.25H13.36C13.69 18.1 14.75 17.25 16.01 17.25C17.27 17.25 18.32 18.1 18.65 19.25Z" fill="currentColor"/>
			<path d="M8 22.75C6.48 22.75 5.25 21.52 5.25 20C5.25 18.48 6.48 17.25 8 17.25C9.52 17.25 10.75 18.48 10.75 20C10.75 21.52 9.52 22.75 8 22.75ZM8 18.75C7.31 18.75 6.75 19.31 6.75 20C6.75 20.69 7.31 21.25 8 21.25C8.69 21.25 9.25 20.69 9.25 20C9.25 19.31 8.69 18.75 8 18.75Z" fill="currentColor"/>
			<path d="M16 22.75C14.48 22.75 13.25 21.52 13.25 20C13.25 18.48 14.48 17.25 16 17.25C17.52 17.25 18.75 18.48 18.75 20C18.75 21.52 17.52 22.75 16 22.75ZM16 18.75C15.31 18.75 14.75 19.31 14.75 20C14.75 20.69 15.31 21.25 16 21.25C16.69 21.25 17.25 20.69 17.25 20C17.25 19.31 16.69 18.75 16 18.75Z" fill="currentColor"/>
			<path d="M22 14.75H19C18.04 14.75 17.25 13.96 17.25 13V10C17.25 9.04 18.04 8.25 19 8.25H20.29C20.56 8.25 20.81 8.39 20.94 8.63L22.65 11.63C22.71 11.74 22.75 11.87 22.75 12V14C22.75 14.41 22.41 14.75 22 14.75ZM19 9.75C18.86 9.75 18.75 9.86 18.75 10V13C18.75 13.14 18.86 13.25 19 13.25H21.25V12.2L19.85 9.75H19Z" fill="currentColor"/>
		</svg>
	{% when 'copy' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M12.89 5.87988H5.10999C3.39999 5.87988 2 7.27987 2 8.98987V20.3499C2 21.7999 3.04 22.4199 4.31 21.7099L8.23999 19.5199C8.65999 19.2899 9.34 19.2899 9.75 19.5199L13.68 21.7099C14.95 22.4199 15.99 21.7999 15.99 20.3499V8.98987C16 7.27987 14.6 5.87988 12.89 5.87988Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M16 8.98987V20.3499C16 21.7999 14.96 22.4099 13.69 21.7099L9.76001 19.5199C9.34001 19.2899 8.65999 19.2899 8.23999 19.5199L4.31 21.7099C3.04 22.4099 2 21.7999 2 20.3499V8.98987C2 7.27987 3.39999 5.87988 5.10999 5.87988H12.89C14.6 5.87988 16 7.27987 16 8.98987Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M22 5.10999V16.47C22 17.92 20.96 18.53 19.69 17.83L16 15.77V8.98999C16 7.27999 14.6 5.88 12.89 5.88H8V5.10999C8 3.39999 9.39999 2 11.11 2H18.89C20.6 2 22 3.39999 22 5.10999Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'search' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M17.1218 17.122L21.9998 22M10.8498 2C13.2938 2 15.5068 2.99 17.1078 4.592C18.5556 6.03977 19.4567 7.94476 19.6574 9.98239C19.8581 12.02 19.3461 14.0642 18.2086 15.7667C17.0711 17.4691 15.3785 18.7245 13.4192 19.3189C11.4599 19.9133 9.35508 19.8099 7.46343 19.0264C5.57178 18.2429 4.01032 16.8277 3.0451 15.022C2.07988 13.2163 1.77062 11.1318 2.17003 9.12364C2.56943 7.11548 3.65277 5.30794 5.23548 4.00899C6.81818 2.71003 8.80231 2.00005 10.8498 2Z" stroke="currentColor" stroke-width="1.5"/>
		</svg>
	{% when 'account' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M12 2C6.477 2 2 6.477 2 12C2 17.523 6.477 22 12 22C17.523 22 22 17.523 22 12C22 6.477 17.523 2 12 2Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M4.27148 18.346C4.27148 18.346 6.50048 15.5 12.0005 15.5C17.5005 15.5 19.7305 18.346 19.7305 18.346M12.0005 12C12.7961 12 13.5592 11.6839 14.1218 11.1213C14.6844 10.5587 15.0005 9.79565 15.0005 9C15.0005 8.20435 14.6844 7.44129 14.1218 6.87868C13.5592 6.31607 12.7961 6 12.0005 6C11.2048 6 10.4418 6.31607 9.87916 6.87868C9.31655 7.44129 9.00048 8.20435 9.00048 9C9.00048 9.79565 9.31655 10.5587 9.87916 11.1213C10.4418 11.6839 11.2048 12 12.0005 12Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'cart' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M14.0003 5C14.0003 4.46957 13.7896 3.96086 13.4145 3.58579C13.0395 3.21071 12.5308 3 12.0003 3C11.4699 3 10.9612 3.21071 10.5861 3.58579C10.211 3.96086 10.0003 4.46957 10.0003 5M19.2603 9.696L20.6453 18.696C20.6891 18.9808 20.6709 19.2718 20.5917 19.5489C20.5126 19.8261 20.3746 20.0828 20.187 20.3016C19.9995 20.5204 19.7668 20.6961 19.505 20.8167C19.2433 20.9372 18.9585 20.9997 18.6703 21H5.33032C5.04195 21 4.75699 20.9377 4.49496 20.8173C4.23294 20.6969 4.00005 20.5212 3.81226 20.3024C3.62448 20.0836 3.48624 19.8267 3.40702 19.5494C3.32781 19.2721 3.30949 18.981 3.35332 18.696L4.73832 9.696C4.81097 9.22359 5.0504 8.79282 5.41324 8.4817C5.77609 8.17059 6.23835 7.9997 6.71632 8H17.2843C17.7621 7.99994 18.2241 8.17094 18.5868 8.48203C18.9494 8.79312 19.1877 9.22376 19.2603 9.696Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'cart-product' %}
		<svg class="icon" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				d="M23.3337 8.33333C23.3337 7.44928 22.9826 6.60143 22.3574 5.97632C21.7324 5.35118 20.8846 5 20.0004 5C19.1164 5 18.2686 5.35118 17.6434 5.97632C17.0182 6.60143 16.6671 7.44928 16.6671 8.33333M32.1004 16.16L34.4087 31.16C34.4817 31.6347 34.4514 32.1197 34.3194 32.5815C34.1876 33.0435 33.9576 33.4713 33.6449 33.836C33.3324 34.2007 32.9446 34.4935 32.5082 34.6945C32.0721 34.8953 31.5974 34.9995 31.1171 35H8.88378C8.40316 35 7.92823 34.8962 7.49151 34.6955C7.05481 34.4948 6.66666 34.202 6.35368 33.8373C6.04071 33.4727 5.81031 33.0445 5.67828 32.5823C5.54626 32.1202 5.51573 31.635 5.58878 31.16L7.89711 16.16C8.0182 15.3726 8.41725 14.6547 9.02198 14.1362C9.62673 13.6176 10.3972 13.3328 11.1938 13.3333H28.8071C29.6034 13.3332 30.3734 13.6182 30.9779 14.1367C31.5822 14.6552 31.9794 15.3729 32.1004 16.16Z"
				stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'star-empty' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'five-stars' %}
		<svg class="icon" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" width="109" height="20" viewBox="0 0 109 20" fill="none">
			<path d="M10.3333 14.3915L15.4833 17.4998L14.1208 11.6415L18.6667 7.704L12.675 7.18734L10.3333 1.6665L7.99167 7.18734L2 7.704L6.54583 11.6415L5.18333 17.4998L10.3333 14.3915Z" fill="currentColor"/>
			<path d="M32.3333 14.3915L37.4833 17.4998L36.1208 11.6415L40.6667 7.704L34.675 7.18734L32.3333 1.6665L29.9917 7.18734L24 7.704L28.5458 11.6415L27.1833 17.4998L32.3333 14.3915Z" fill="currentColor"/>
			<path d="M54.3333 14.3915L59.4833 17.4998L58.1208 11.6415L62.6667 7.704L56.675 7.18734L54.3333 1.6665L51.9917 7.18734L46 7.704L50.5458 11.6415L49.1833 17.4998L54.3333 14.3915Z" fill="currentColor"/>
			<path d="M76.3333 14.3915L81.4833 17.4998L80.1208 11.6415L84.6667 7.704L78.675 7.18734L76.3333 1.6665L73.9917 7.18734L68 7.704L72.5458 11.6415L71.1833 17.4998L76.3333 14.3915Z" fill="currentColor"/>
			<path d="M98.3333 14.3915L103.483 17.4998L102.121 11.6415L106.667 7.704L100.675 7.18734L98.3333 1.6665L95.9917 7.18734L90 7.704L94.5458 11.6415L93.1833 17.4998L98.3333 14.3915Z" fill="currentColor"/>
		</svg>
	{% when 'heart-empty' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.95891 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'heart-fill' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.95891 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987Z" fill="currentColor"/>
		</svg>
	{% when 'menu-close' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M18 6L6 18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M6 6L18 18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'close' %}
		<svg class="icon" width="16" height="16" aria-hidden="true" focusable="false" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M12 4L4 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M4 4L12 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'close-circle' %}
		<svg class="icon" width="24" height="24" aria-hidden="true" focusable="false" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M9.16992 14.8299L14.8299 9.16992" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M14.8299 14.8299L9.16992 9.16992" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'health' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M8.9707 2C3.9707 2 1.9707 4 1.9707 9V15C1.9707 20 3.9707 22 8.9707 22H14.9707C19.9707 22 21.9707 20 21.9707 15V9C21.9707 4 19.9707 2 14.9707 2H12.9707" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M1.9707 12.7001L7.9707 12.6801C8.7207 12.6801 9.5607 13.2501 9.8407 13.9501L10.9807 16.8301C11.2407 17.4801 11.6507 17.4801 11.9107 16.8301L14.2007 11.0201C14.4207 10.4601 14.8307 10.4401 15.1107 10.9701L16.1507 12.9401C16.4607 13.5301 17.2607 14.0101 17.9207 14.0101H21.9807" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'question' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M17 18.4297H13L8.54999 21.3897C7.88999 21.8297 7 21.3598 7 20.5598V18.4297C4 18.4297 2 16.4297 2 13.4297V7.42969C2 4.42969 4 2.42969 7 2.42969H17C20 2.42969 22 4.42969 22 7.42969V13.4297C22 16.4297 20 18.4297 17 18.4297Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M11.9998 11.3604V11.1504C11.9998 10.4704 12.4198 10.1104 12.8398 9.82037C13.2498 9.54037 13.6598 9.18039 13.6598 8.52039C13.6598 7.60039 12.9198 6.86035 11.9998 6.86035C11.0798 6.86035 10.3398 7.60039 10.3398 8.52039" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M11.9955 13.75H12.0045" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'map-marker' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M21 10C21 17 12 23 12 23C12 23 3 17 3 10C3 7.61305 3.94821 5.32387 5.63604 3.63604C7.32387 1.94821 9.61305 1 12 1C14.3869 1 16.6761 1.94821 18.364 3.63604C20.0518 5.32387 21 7.61305 21 10Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'clock' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M14.6668 8.00016C14.6668 11.6802 11.6802 14.6668 8.00016 14.6668C4.32016 14.6668 1.3335 11.6802 1.3335 8.00016C1.3335 4.32016 4.32016 1.3335 8.00016 1.3335C11.6802 1.3335 14.6668 4.32016 14.6668 8.00016Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M10.4734 10.1202L8.40675 8.88684C8.04675 8.6735 7.75342 8.16017 7.75342 7.74017V5.00684" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'email' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M17 21.25H7C3.35 21.25 1.25 19.15 1.25 15.5V8.5C1.25 4.85 3.35 2.75 7 2.75H17C20.65 2.75 22.75 4.85 22.75 8.5V15.5C22.75 19.15 20.65 21.25 17 21.25ZM7 4.25C4.14 4.25 2.75 5.64 2.75 8.5V15.5C2.75 18.36 4.14 19.75 7 19.75H17C19.86 19.75 21.25 18.36 21.25 15.5V8.5C21.25 5.64 19.86 4.25 17 4.25H7Z" fill="currentColor"/>
			<path d="M11.9988 12.87C11.1588 12.87 10.3088 12.61 9.6588 12.08L6.5288 9.57997C6.2088 9.31997 6.14881 8.84997 6.4088 8.52997C6.66881 8.20997 7.13881 8.14997 7.45881 8.40997L10.5888 10.91C11.3488 11.52 12.6388 11.52 13.3988 10.91L16.5288 8.40997C16.8488 8.14997 17.3288 8.19997 17.5788 8.52997C17.8388 8.84997 17.7888 9.32997 17.4588 9.57997L14.3288 12.08C13.6888 12.61 12.8388 12.87 11.9988 12.87Z" fill="currentColor"/>
		</svg>
	{% when 'phone' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M21.97 18.33C21.97 18.69 21.89 19.06 21.72 19.42C21.55 19.78 21.33 20.12 21.04 20.44C20.55 20.98 20.01 21.37 19.4 21.62C18.8 21.87 18.15 22 17.45 22C16.43 22 15.34 21.76 14.19 21.27C13.04 20.78 11.89 20.12 10.75 19.29C9.6 18.45 8.51 17.52 7.47 16.49C6.44 15.45 5.51 14.36 4.68 13.22C3.86 12.08 3.2 10.94 2.72 9.81C2.24 8.67 2 7.58 2 6.54C2 5.86 2.12 5.21 2.36 4.61C2.6 4 2.98 3.44 3.51 2.94C4.15 2.31 4.85 2 5.59 2C5.87 2 6.15 2.06 6.4 2.18C6.66 2.3 6.89 2.48 7.07 2.74L9.39 6.01C9.57 6.26 9.7 6.49 9.79 6.71C9.88 6.92 9.93 7.13 9.93 7.32C9.93 7.56 9.86 7.8 9.72 8.03C9.59 8.26 9.4 8.5 9.16 8.74L8.4 9.53C8.29 9.64 8.24 9.77 8.24 9.93C8.24 10.01 8.25 10.08 8.27 10.16C8.3 10.24 8.33 10.3 8.35 10.36C8.53 10.69 8.84 11.12 9.28 11.64C9.73 12.16 10.21 12.69 10.73 13.22C11.27 13.75 11.79 14.24 12.32 14.69C12.84 15.13 13.27 15.43 13.61 15.61C13.66 15.63 13.72 15.66 13.79 15.69C13.87 15.72 13.95 15.73 14.04 15.73C14.21 15.73 14.34 15.67 14.45 15.56L15.21 14.81C15.46 14.56 15.7 14.37 15.93 14.25C16.16 14.11 16.39 14.04 16.64 14.04C16.83 14.04 17.03 14.08 17.25 14.17C17.47 14.26 17.7 14.39 17.95 14.56L21.26 16.91C21.52 17.09 21.7 17.3 21.81 17.55C21.91 17.8 21.97 18.05 21.97 18.33Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"/>
		</svg>
	{% when 'email-secondary' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M13.334 2.66675H2.66732C1.93398 2.66675 1.34065 3.26675 1.34065 4.00008L1.33398 12.0001C1.33398 12.7334 1.93398 13.3334 2.66732 13.3334H13.334C14.0673 13.3334 14.6673 12.7334 14.6673 12.0001V4.00008C14.6673 3.26675 14.0673 2.66675 13.334 2.66675ZM13.0673 5.50008L8.35398 8.44675C8.14065 8.58008 7.86065 8.58008 7.64732 8.44675L2.93398 5.50008C2.76732 5.39341 2.66732 5.21341 2.66732 5.02008C2.66732 4.57341 3.15398 4.30675 3.53398 4.54008L8.00065 7.33342L12.4673 4.54008C12.8473 4.30675 13.334 4.57341 13.334 5.02008C13.334 5.21341 13.234 5.39341 13.0673 5.50008Z" fill="currentColor"/>
		</svg>
	{% when 'phone-secondary' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M14.6473 12.2199C14.6473 12.4599 14.594 12.7066 14.4806 12.9466C14.3673 13.1866 14.2207 13.4133 14.0273 13.6266C13.7007 13.9866 13.3406 14.2466 12.934 14.4133C12.534 14.5799 12.1007 14.6666 11.634 14.6666C10.954 14.6666 10.2273 14.5066 9.46065 14.1799C8.69398 13.8533 7.92732 13.4133 7.16732 12.8599C6.40065 12.2999 5.67398 11.6799 4.98065 10.9933C4.29398 10.2999 3.67398 9.57325 3.12065 8.81325C2.57398 8.05325 2.13398 7.29325 1.81398 6.53992C1.49398 5.77992 1.33398 5.05325 1.33398 4.35992C1.33398 3.90659 1.41398 3.47325 1.57398 3.07325C1.73398 2.66659 1.98732 2.29325 2.34065 1.95992C2.76732 1.53992 3.23398 1.33325 3.72732 1.33325C3.91398 1.33325 4.10065 1.37325 4.26732 1.45325C4.44065 1.53325 4.59398 1.65325 4.71398 1.82659L6.26065 4.00659C6.38065 4.17325 6.46732 4.32659 6.52732 4.47325C6.58732 4.61325 6.62065 4.75325 6.62065 4.87992C6.62065 5.03992 6.57398 5.19992 6.48065 5.35325C6.39398 5.50659 6.26732 5.66659 6.10732 5.82659L5.60065 6.35325C5.52732 6.42659 5.49398 6.51325 5.49398 6.61992C5.49398 6.67325 5.50065 6.71992 5.51398 6.77325C5.53398 6.82659 5.55398 6.86659 5.56732 6.90659C5.68732 7.12659 5.89398 7.41325 6.18732 7.75992C6.48732 8.10659 6.80732 8.45992 7.15398 8.81325C7.51398 9.16659 7.86065 9.49325 8.21398 9.79325C8.56065 10.0866 8.84732 10.2866 9.07398 10.4066C9.10732 10.4199 9.14732 10.4399 9.19398 10.4599C9.24732 10.4799 9.30065 10.4866 9.36065 10.4866C9.47398 10.4866 9.56065 10.4466 9.63398 10.3733L10.1407 9.87325C10.3073 9.70659 10.4673 9.57992 10.6207 9.49992C10.774 9.40659 10.9273 9.35992 11.094 9.35992C11.2206 9.35992 11.354 9.38659 11.5007 9.44659C11.6473 9.50659 11.8007 9.59325 11.9673 9.70659L14.174 11.2733C14.3473 11.3933 14.4673 11.5333 14.5407 11.6999C14.6073 11.8666 14.6473 12.0333 14.6473 12.2199Z" fill="currentColor"/>
		</svg>
	{% when 'share' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M18 22C19.6569 22 21 20.6569 21 19C21 17.3431 19.6569 16 18 16C16.3431 16 15 17.3431 15 19C15 20.6569 16.3431 22 18 22Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M6 15C7.65685 15 9 13.6569 9 12C9 10.3431 7.65685 9 6 9C4.34315 9 3 10.3431 3 12C3 13.6569 4.34315 15 6 15Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M8.58984 13.5098L15.4198 17.4898" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M18 8C19.6569 8 21 6.65685 21 5C21 3.34315 19.6569 2 18 2C16.3431 2 15 3.34315 15 5C15 6.65685 16.3431 8 18 8Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M15.4098 6.50977L8.58984 10.4898" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'info' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M12 16V12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M12 8H12.01" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'check' %}
		<svg class="icon icon-check" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M20 6L9 17L4 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'copy-2' %}
		<svg class="icon icon-copy" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M16 12.9V17.1C16 20.6 14.6 22 11.1 22H6.9C3.4 22 2 20.6 2 17.1V12.9C2 9.4 3.4 8 6.9 8H11.1C14.6 8 16 9.4 16 12.9Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M22 6.9V11.1C22 14.6 20.6 16 17.1 16H16V12.9C16 9.4 14.6 8 11.1 8H8V6.9C8 3.4 9.4 2 12.9 2H17.1C20.6 2 22 3.4 22 6.9Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'copy-3' %}
		<svg aria-hidden="true" focusable="false" class="icon icon-copy" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M10.6693 8.60065V11.4007C10.6693 13.734 9.73594 14.6673 7.4026 14.6673H4.6026C2.26927 14.6673 1.33594 13.734 1.33594 11.4007V8.60065C1.33594 6.26732 2.26927 5.33398 4.6026 5.33398H7.4026C9.73594 5.33398 10.6693 6.26732 10.6693 8.60065Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M14.6693 4.60065V7.40065C14.6693 9.73398 13.7359 10.6673 11.4026 10.6673H10.6693V8.60065C10.6693 6.26732 9.73594 5.33398 7.4026 5.33398H5.33594V4.60065C5.33594 2.26732 6.26927 1.33398 8.6026 1.33398H11.4026C13.7359 1.33398 14.6693 2.26732 14.6693 4.60065Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'compare' %}
		<svg class="icon" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				d="M24.5829 10.3116C25.2262 10.2312 25.8694 10.7136 25.8694 11.3569L27.9598 31.2162C28.0402 31.8595 27.5578 32.5026 26.9145 32.5026L7.1356 34.593C6.49235 34.6735 5.84919 34.191 5.84919 33.5478L3.75877 13.7689C3.67835 13.1256 4.16077 12.4825 4.80402 12.4825L24.5829 10.3116Z"
				stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
			<path
				d="M10.7538 15.7789C9.30655 15.9397 8.18097 17.2261 8.34172 18.7538C8.50255 20.201 9.78897 21.3266 11.3166 21.1659C12.7639 21.005 13.8895 19.7186 13.7287 18.1909C13.568 16.6633 12.201 15.6181 10.7538 15.7789ZM18.0704 20.4422L14.211 25.1859C14.0502 25.3468 13.8091 25.4271 13.6482 25.2664L12.7638 24.5428C12.603 24.3819 12.2814 24.4624 12.201 24.6232L8.02005 29.7689C7.85922 29.9298 7.85922 30.2514 8.10047 30.3318C8.02005 30.4122 8.18088 30.4122 8.2613 30.4122L24.9046 28.6434C25.1457 28.6434 25.3065 28.4022 25.3065 28.1609C25.3065 28.0805 25.2261 28.0001 25.2261 27.9198L18.7135 20.3619C18.4724 20.2815 18.2312 20.2814 18.0704 20.4422Z"
				stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
			<path
				d="M13.5679 11.5175L14.1307 6.45221C14.2111 5.80896 14.774 5.32655 15.4171 5.40696L35.196 7.49738C35.8393 7.5778 36.3217 8.14063 36.2413 8.7838L34.1509 28.5627C34.1509 29.1255 33.5076 29.608 32.8645 29.608L27.7187 29.0451"
				stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
			<path
				d="M27.3166 24.9448L31.7387 25.4272C31.9799 25.4272 32.1407 25.2664 32.2211 25.0252C32.2211 24.9448 32.2211 24.8644 32.1407 24.7841L27.3165 16.0202C27.2361 15.8594 26.9145 15.7791 26.7537 15.8594L26.4321 16.181"
				stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'discount' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M9 15L15 9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M4 6C2.75 7.67 2 9.75 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2C10.57 2 9.19997 2.29998 7.96997 2.84998" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M14.4945 14.5H14.5035" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M9.49451 9.5H9.50349" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'refresh' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M9.11008 5.08039C9.98008 4.82039 10.9401 4.65039 12.0001 4.65039C16.7901 4.65039 20.6701 8.53039 20.6701 13.3204C20.6701 18.1104 16.7901 21.9904 12.0001 21.9904C7.21008 21.9904 3.33008 18.1104 3.33008 13.3204C3.33008 11.5404 3.87008 9.88039 4.79008 8.50039" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M7.86914 5.32L10.7591 2" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M7.86914 5.32031L11.2391 7.78031" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'loader' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M21.25 12C21.6642 12 22.0029 12.3363 21.9719 12.7493C21.8332 14.5954 21.1841 16.3722 20.0902 17.8779C18.8489 19.5863 17.0986 20.858 15.0902 21.5106C13.0817 22.1631 10.9183 22.1631 8.90983 21.5106C6.9014 20.858 5.15111 19.5863 3.90983 17.8779C2.66855 16.1694 2 14.1118 2 12C2 9.88821 2.66855 7.83062 3.90983 6.12215C5.15111 4.41367 6.9014 3.14201 8.90983 2.48943C10.6798 1.91433 12.5702 1.84605 14.3688 2.28461C14.7713 2.38274 14.9864 2.80879 14.8584 3.20273C14.7304 3.59667 14.3077 3.80878 13.904 3.71599C12.4081 3.37216 10.842 3.43883 9.37336 3.91602C7.66619 4.47071 6.17844 5.55162 5.12336 7.00382C4.06827 8.45603 3.5 10.205 3.5 12C3.5 13.795 4.06827 15.544 5.12336 16.9962C6.17844 18.4484 7.66619 19.5293 9.37335 20.084C11.0805 20.6387 12.9195 20.6387 14.6266 20.084C16.3338 19.5293 17.8216 18.4484 18.8766 16.9962C19.7843 15.7469 20.3317 14.278 20.4669 12.7491C20.5034 12.3365 20.8358 12 21.25 12Z" fill="currentColor"/>
		</svg>
	{% when 'ring' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M14.19 7.05C14.1223 6.70573 13.9702 6.38362 13.7475 6.1125L15.6375 3.1125C15.712 2.9933 15.7515 2.85557 15.7515 2.715C15.7515 2.57444 15.712 2.4367 15.6375 2.3175L14.8875 1.1175C14.8218 1.00663 14.7286 0.914567 14.6169 0.850196C14.5053 0.785825 14.3789 0.751317 14.25 0.750002H9.75002C9.62256 0.749746 9.49714 0.781979 9.3856 0.843655C9.27406 0.905331 9.18007 0.994417 9.11252 1.1025L8.36252 2.3025C8.28802 2.4217 8.24852 2.55944 8.24852 2.7C8.24852 2.84057 8.28802 2.9783 8.36252 3.0975L10.2525 6.0975C10.0298 6.36862 9.87776 6.69073 9.81002 7.035C7.88502 7.56502 6.21754 8.77516 5.11685 10.441C4.01616 12.1068 3.55693 14.1153 3.82435 16.094C4.09177 18.0726 5.06768 19.8871 6.57109 21.201C8.0745 22.5149 10.0034 23.239 12 23.239C13.9967 23.239 15.9255 22.5149 17.429 21.201C18.9324 19.8871 19.9083 18.0726 20.1757 16.094C20.4431 14.1153 19.9839 12.1068 18.8832 10.441C17.7825 8.77516 16.115 7.56502 14.19 7.035V7.05ZM12 8.25C11.8134 8.25094 11.6332 8.1823 11.4945 8.05748C11.3559 7.93267 11.2687 7.76064 11.25 7.575V7.5C11.25 7.30109 11.329 7.11032 11.4697 6.96967C11.6103 6.82902 11.8011 6.75 12 6.75C12.1989 6.75 12.3897 6.82902 12.5304 6.96967C12.671 7.11032 12.75 7.30109 12.75 7.5V7.575C12.7314 7.76064 12.6442 7.93267 12.5055 8.05748C12.3668 8.1823 12.1866 8.25094 12 8.25ZM10.1625 2.25H13.8375L14.115 2.7L12.4875 5.3025H12.405C12.3027 5.29517 12.1999 5.29517 12.0975 5.3025H11.895C11.8004 5.29104 11.7047 5.29104 11.61 5.3025H11.5125L9.88502 2.7L10.1625 2.25ZM12 21.75C10.3837 21.7512 8.82068 21.1724 7.59498 20.1188C6.36928 19.0653 5.56232 17.6068 5.32079 16.0087C5.07925 14.4106 5.41918 12.7788 6.27878 11.4101C7.13838 10.0414 8.46057 9.0265 10.005 8.55C10.0614 8.65129 10.124 8.74898 10.1925 8.8425L10.26 8.925C10.3186 8.99362 10.3813 9.05873 10.4475 9.12L10.5225 9.195C10.606 9.27074 10.6964 9.33853 10.7925 9.3975C10.897 9.46289 11.0075 9.51814 11.1225 9.5625L11.22 9.6L11.49 9.675H11.595C11.8427 9.72297 12.0973 9.72297 12.345 9.675H12.4575C12.5447 9.65796 12.63 9.63285 12.7125 9.6L12.825 9.5625C12.921 9.52511 13.0138 9.47996 13.1025 9.4275L13.245 9.33L13.41 9.21C13.4636 9.16641 13.5137 9.11877 13.56 9.0675L13.6425 8.9775L13.7925 8.7975C13.8496 8.71949 13.8998 8.63668 13.9425 8.55C15.4828 9.02507 16.8022 10.0356 17.6621 11.3989C18.5221 12.7622 18.8658 14.3882 18.6312 15.9829C18.3965 17.5776 17.5989 19.0357 16.3827 20.0934C15.1664 21.1512 13.6118 21.7388 12 21.75Z" fill="currentColor"/>
		</svg>
	{% when 'size-chart' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M5 17H19C21 17 22 16 22 14V10C22 8 21 7 19 7H5C3 7 2 8 2 10V14C2 16 3 17 5 17Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
			<path d="M18 7V12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
			<path d="M6 7V11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
			<path d="M10.05 7L10 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
			<path d="M14 7V10" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
		</svg>
	{% when 'size-chart-2' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1.499 18.7459C1.0848 18.7475 0.750338 19.0846 0.751959 19.4988V22.5001C0.753563 22.912 1.08709 23.2456 1.499 23.2472C1.9132 23.2488 2.25029 22.9143 2.2519 22.5001V21.7472H16.6507V22.5001C16.6524 22.9143 16.9894 23.2488 17.4036 23.2472C17.8161 23.2464 18.1505 22.9126 18.1521 22.5001V19.4988C18.1538 19.084 17.8184 18.7467 17.4036 18.7459C16.9872 18.7443 16.6491 19.0823 16.6507 19.4988V20.2458H2.2519V19.4988C2.25353 19.0823 1.91549 18.7443 1.499 18.7459ZM19.4968 0.74806C19.0826 0.749673 18.7482 1.08676 18.7498 1.50096C18.7514 1.91287 19.0849 2.24639 19.4968 2.248H20.2497V16.6527H19.4968C19.0843 16.6543 18.7506 16.9887 18.7498 17.4012C18.7481 17.8154 19.0826 18.1525 19.4968 18.1541H22.4967C22.9138 18.1566 23.2527 17.8183 23.2511 17.4012C23.2502 16.9859 22.9121 16.6503 22.4967 16.6527H21.7497V2.248H22.4967C22.9115 2.25043 23.2495 1.91573 23.2511 1.50096C23.2527 1.08389 22.9138 0.745611 22.4967 0.74806H19.4968Z" fill="currentColor"/>
			<path d="M11.2747 0.748315C10.8732 0.767072 10.5578 1.0992 10.5599 1.50121C10.5599 2.03719 10.3604 2.36354 10.0619 2.61443C9.76341 2.86532 9.34042 2.99673 9.02193 2.99673C8.70345 2.99673 8.27899 2.86532 7.98048 2.61443C7.68198 2.36354 7.48246 2.03719 7.48246 1.50121C7.48172 1.06911 7.11687 0.727069 6.68563 0.754174C6.63107 0.75755 6.57704 0.766882 6.52451 0.782005C5.74895 1.00605 4.69908 1.17207 3.7019 1.74436C2.70472 2.31664 1.81611 3.36311 1.49303 5.04448L0.762111 8.84262C0.692746 9.19668 0.885378 9.54995 1.22058 9.6834L3.97288 10.7747L4.0388 11.8542C4.03666 13.0056 3.88567 13.4966 3.7019 14.1509C3.51684 14.8099 3.30202 15.6273 3.30202 17.0629C3.30273 17.4783 3.641 17.8139 4.05637 17.8114H13.9934C14.4059 17.8099 14.7397 17.4754 14.7404 17.0629C14.7404 15.6273 14.5329 14.8099 14.3478 14.1509C14.1641 13.4966 14.0116 13.0056 14.0095 11.8542L14.0754 10.7747L16.8218 9.6834C17.1576 9.55047 17.3509 9.19707 17.2818 8.84262L16.5508 5.04448C16.2278 3.36311 15.345 2.31664 14.3478 1.74436C13.3506 1.17207 12.2935 1.00605 11.5179 0.782005C11.4392 0.757494 11.3571 0.746111 11.2747 0.748315ZM6.13192 2.4325C6.31549 3.01865 6.66161 3.46023 7.01813 3.75988C7.57865 4.23098 8.31373 4.49666 9.02193 4.49666C9.73013 4.49666 10.4691 4.22773 11.0257 3.75988C11.3825 3.46004 11.766 2.98176 11.9081 2.4325C12.6034 2.61566 13.0591 2.73652 13.5993 3.04654C14.2916 3.44385 14.8225 3.99379 15.0787 5.32718L15.6925 8.51598L14.1091 9.14583V8.31677C14.1108 7.90023 13.7727 7.56212 13.3562 7.56388C12.9419 7.56538 12.6074 7.90252 12.6092 8.31677V10.2049C12.6092 10.2049 12.5091 11.822 12.5095 11.8366C12.5095 13.1532 12.7204 13.9142 12.9021 14.5611C13.0291 15.0134 13.1627 15.5379 13.2233 16.31H4.82098C4.88485 15.5808 5.01412 15.0023 5.1403 14.5611C5.32503 13.9151 5.53872 13.1532 5.53872 11.8366C5.53823 11.8296 5.4744 11.0634 5.45096 10.233C5.42496 9.31151 5.43911 8.31677 5.43911 8.31677C5.44088 7.90023 5.10276 7.56211 4.68622 7.56388C4.27197 7.56538 3.93744 7.90252 3.93919 8.31677V9.14729L2.35578 8.51598L2.96512 5.32718C3.22133 3.99379 3.75077 3.44385 4.44307 3.04654C4.98357 2.73634 5.43612 2.61578 6.13192 2.4325Z" fill="currentColor"/>
		</svg>
	{% when 'comments' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M18.4698 16.83L18.8598 19.99C18.9598 20.82 18.0698 21.4 17.3598 20.97L13.1698 18.48C12.7098 18.48 12.2599 18.45 11.8199 18.39C12.5599 17.52 12.9998 16.42 12.9998 15.23C12.9998 12.39 10.5398 10.09 7.49985 10.09C6.33985 10.09 5.26985 10.42 4.37985 11C4.34985 10.75 4.33984 10.5 4.33984 10.24C4.33984 5.68999 8.28985 2 13.1698 2C18.0498 2 21.9998 5.68999 21.9998 10.24C21.9998 12.94 20.6098 15.33 18.4698 16.83Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M13 15.2298C13 16.4198 12.56 17.5198 11.82 18.3898C10.83 19.5898 9.26 20.3598 7.5 20.3598L4.89 21.9098C4.45 22.1798 3.89 21.8098 3.95 21.2998L4.2 19.3298C2.86 18.3998 2 16.9098 2 15.2298C2 13.4698 2.94 11.9198 4.38 10.9998C5.27 10.4198 6.34 10.0898 7.5 10.0898C10.54 10.0898 13 12.3898 13 15.2298Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'scroll-top' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M18.0697 9.57L11.9997 3.5L5.92969 9.57" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M12 20.4999V3.66992" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'quick-view' %}
		<svg class="icon" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				d="M25.9668 20C25.9668 23.3 23.3001 25.9667 20.0001 25.9667C16.7001 25.9667 14.0334 23.3 14.0334 20C14.0334 16.7 16.7001 14.0333 20.0001 14.0333C23.3001 14.0333 25.9668 16.7 25.9668 20Z"
				stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
			<path
				d="M20 33.7833C25.8833 33.7833 31.3667 30.3166 35.1833 24.3166C36.6833 21.9666 36.6833 18.0166 35.1833 15.6666C31.3667 9.66662 25.8833 6.19995 20 6.19995C14.1167 6.19995 8.63332 9.66662 4.81665 15.6666C3.31665 18.0166 3.31665 21.9666 4.81665 24.3166C8.63332 30.3166 14.1167 33.7833 20 33.7833Z"
				stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'password-eye' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="16" height="16" viewBox="0 0 16 16" fill="none"
			 xmlns="http://www.w3.org/2000/svg">
			<path
				d="M10.3866 7.99995C10.3866 9.31995 9.31995 10.3866 7.99995 10.3866C6.67995 10.3866 5.61328 9.31995 5.61328 7.99995C5.61328 6.67995 6.67995 5.61328 7.99995 5.61328C9.31995 5.61328 10.3866 6.67995 10.3866 7.99995Z"
				stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path
				d="M7.9999 13.5138C10.3532 13.5138 12.5466 12.1271 14.0732 9.72714C14.6732 8.78714 14.6732 7.20714 14.0732 6.26714C12.5466 3.86714 10.3532 2.48047 7.9999 2.48047C5.64656 2.48047 3.45323 3.86714 1.92656 6.26714C1.32656 7.20714 1.32656 8.78714 1.92656 9.72714C3.45323 12.1271 5.64656 13.5138 7.9999 13.5138Z"
				stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'play' %}
		<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M2.66602 8.00026V5.62692C2.66602 2.68026 4.75268 1.47359 7.30602 2.94692L9.36602 4.13359L11.426 5.32026C13.9793 6.79359 13.9793 9.20692 11.426 10.6803L9.36602 11.8669L7.30602 13.0536C4.75268 14.5269 2.66602 13.3203 2.66602 10.3736V8.00026Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'play-filled' %}
		<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M2.6665 8.00001V5.62668C2.6665 2.68001 4.75317 1.47334 7.3065 2.94668L9.3665 4.13334L11.4265 5.32001C13.9798 6.79334 13.9798 9.20668 11.4265 10.68L9.3665 11.8667L7.3065 13.0533C4.75317 14.5267 2.6665 13.32 2.6665 10.3733V8.00001Z" fill="currentColor"/>
		</svg>
	{% when 'pause-round' %}
		<svg width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon">
			<circle cx="15" cy="15" r="14.5" stroke="currentColor" fill="none"></circle>
			<path fill="currentColor" d="M9 9h4v12H9zm8 0h4v12h-4z"></path>
		</svg>
	{% when 'trash' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M14 3.98665C11.78 3.76665 9.54667 3.65332 7.32 3.65332C6 3.65332 4.68 3.71999 3.36 3.85332L2 3.98665" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M5.66602 3.31301L5.81268 2.43967C5.91935 1.80634 5.99935 1.33301 7.12602 1.33301H8.87268C9.99935 1.33301 10.086 1.83301 10.186 2.44634L10.3327 3.31301" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M12.5669 6.09375L12.1336 12.8071C12.0603 13.8537 12.0003 14.6671 10.1403 14.6671H5.86026C4.00026 14.6671 3.94026 13.8537 3.86693 12.8071L3.43359 6.09375" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M6.88672 11H9.10672" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M6.33398 8.33301H9.66732" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'gift' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M13.3327 8V14.6667H2.66602V8" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M14.6673 4.66699H1.33398V8.00033H14.6673V4.66699Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M8 14.667V4.66699" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M8 4.66634H11C11.442 4.66634 11.866 4.49075 12.1785 4.17819C12.4911 3.86562 12.6667 3.4417 12.6667 2.99967C12.6667 2.55765 12.4911 2.13372 12.1785 1.82116C11.866 1.5086 11.442 1.33301 11 1.33301C8.66667 1.33301 8 4.66634 8 4.66634Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M8.00065 4.66634H5.00065C4.55862 4.66634 4.1347 4.49075 3.82214 4.17819C3.50958 3.86562 3.33398 3.4417 3.33398 2.99967C3.33398 2.55765 3.50958 2.13372 3.82214 1.82116C4.1347 1.5086 4.55862 1.33301 5.00065 1.33301C7.33398 1.33301 8.00065 4.66634 8.00065 4.66634Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'grid-3' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M3.50877 0H0.701754C0.314386 0 0 0.298667 0 0.666667V3.33333C0 3.70133 0.314386 4 0.701754 4H3.50877C3.89614 4 4.21053 3.70133 4.21053 3.33333V0.666667C4.21053 0.298667 3.89614 0 3.50877 0Z" fill="currentColor"/>
			<path d="M9.4033 0H6.59629C6.20892 0 5.89453 0.298667 5.89453 0.666667V3.33333C5.89453 3.70133 6.20892 4 6.59629 4H9.4033C9.79067 4 10.1051 3.70133 10.1051 3.33333V0.666667C10.1051 0.298667 9.79067 0 9.4033 0Z" fill="currentColor"/>
			<path d="M15.2978 0H12.4908C12.1034 0 11.7891 0.298667 11.7891 0.666667V3.33333C11.7891 3.70133 12.1034 4 12.4908 4H15.2978C15.6852 4 15.9996 3.70133 15.9996 3.33333V0.666667C15.9996 0.298667 15.6852 0 15.2978 0Z" fill="currentColor"/>
			<path d="M3.50877 6H0.701754C0.314386 6 0 6.29867 0 6.66667V9.33333C0 9.70133 0.314386 10 0.701754 10H3.50877C3.89614 10 4.21053 9.70133 4.21053 9.33333V6.66667C4.21053 6.29867 3.89614 6 3.50877 6Z" fill="currentColor"/>
			<path d="M9.4033 6H6.59629C6.20892 6 5.89453 6.29867 5.89453 6.66667V9.33333C5.89453 9.70133 6.20892 10 6.59629 10H9.4033C9.79067 10 10.1051 9.70133 10.1051 9.33333V6.66667C10.1051 6.29867 9.79067 6 9.4033 6Z" fill="currentColor"/>
			<path d="M15.2978 6H12.4908C12.1034 6 11.7891 6.29867 11.7891 6.66667V9.33333C11.7891 9.70133 12.1034 10 12.4908 10H15.2978C15.6852 10 15.9996 9.70133 15.9996 9.33333V6.66667C15.9996 6.29867 15.6852 6 15.2978 6Z" fill="currentColor"/>
			<path d="M3.50877 12H0.701754C0.314386 12 0 12.2987 0 12.6667V15.3333C0 15.7013 0.314386 16 0.701754 16H3.50877C3.89614 16 4.21053 15.7013 4.21053 15.3333V12.6667C4.21053 12.2987 3.89614 12 3.50877 12Z" fill="currentColor"/>
			<path d="M9.4033 12H6.59629C6.20892 12 5.89453 12.2987 5.89453 12.6667V15.3333C5.89453 15.7013 6.20892 16 6.59629 16H9.4033C9.79067 16 10.1051 15.7013 10.1051 15.3333V12.6667C10.1051 12.2987 9.79067 12 9.4033 12Z" fill="currentColor"/>
			<path d="M15.2978 12H12.4908C12.1034 12 11.7891 12.2987 11.7891 12.6667V15.3333C11.7891 15.7013 12.1034 16 12.4908 16H15.2978C15.6852 16 15.9996 15.7013 15.9996 15.3333V12.6667C15.9996 12.2987 15.6852 12 15.2978 12Z" fill="currentColor"/>
		</svg>
	{% when 'grid-4' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M2.42423 0H0.484845C0.217211 0 0 0.217211 0 0.484845V2.42423C0 2.69186 0.217211 2.90907 0.484845 2.90907H2.42423C2.69186 2.90907 2.90907 2.69186 2.90907 2.42423V0.484845C2.90907 0.217211 2.69186 0 2.42423 0Z" fill="currentColor"/>
			<path d="M2.42423 4.36328H0.484845C0.217211 4.36328 0 4.58049 0 4.84813V6.78751C0 7.05514 0.217211 7.27235 0.484845 7.27235H2.42423C2.69186 7.27235 2.90907 7.05514 2.90907 6.78751V4.84813C2.90907 4.58049 2.69186 4.36328 2.42423 4.36328Z" fill="currentColor"/>
			<path d="M2.42423 8.72754H0.484845C0.217211 8.72754 0 8.94475 0 9.21238V11.1518C0 11.4194 0.217211 11.6366 0.484845 11.6366H2.42423C2.69186 11.6366 2.90907 11.4194 2.90907 11.1518V9.21238C2.90907 8.94475 2.69186 8.72754 2.42423 8.72754Z" fill="currentColor"/>
			<path d="M2.42423 13.0908H0.484845C0.217211 13.0908 0 13.308 0 13.5757V15.515C0 15.7827 0.217211 15.9999 0.484845 15.9999H2.42423C2.69186 15.9999 2.90907 15.7827 2.90907 15.515V13.5757C2.90907 13.308 2.69186 13.0908 2.42423 13.0908Z" fill="currentColor"/>
			<path d="M6.78751 0H4.84813C4.58049 0 4.36328 0.217211 4.36328 0.484845V2.42423C4.36328 2.69186 4.58049 2.90907 4.84813 2.90907H6.78751C7.05514 2.90907 7.27235 2.69186 7.27235 2.42423V0.484845C7.27235 0.217211 7.05514 0 6.78751 0Z" fill="currentColor"/>
			<path d="M6.78751 4.36328H4.84813C4.58049 4.36328 4.36328 4.58049 4.36328 4.84813V6.78751C4.36328 7.05514 4.58049 7.27235 4.84813 7.27235H6.78751C7.05514 7.27235 7.27235 7.05514 7.27235 6.78751V4.84813C7.27235 4.58049 7.05514 4.36328 6.78751 4.36328Z" fill="currentColor"/>
			<path d="M6.78751 8.72754H4.84813C4.58049 8.72754 4.36328 8.94475 4.36328 9.21238V11.1518C4.36328 11.4194 4.58049 11.6366 4.84813 11.6366H6.78751C7.05514 11.6366 7.27235 11.4194 7.27235 11.1518V9.21238C7.27235 8.94475 7.05514 8.72754 6.78751 8.72754Z" fill="currentColor"/>
			<path d="M6.78751 13.0908H4.84813C4.58049 13.0908 4.36328 13.308 4.36328 13.5757V15.515C4.36328 15.7827 4.58049 15.9999 4.84813 15.9999H6.78751C7.05514 15.9999 7.27235 15.7827 7.27235 15.515V13.5757C7.27235 13.308 7.05514 13.0908 6.78751 13.0908Z" fill="currentColor"/>
			<path d="M11.1508 0H9.21141C8.94377 0 8.72656 0.217211 8.72656 0.484845V2.42423C8.72656 2.69186 8.94377 2.90907 9.21141 2.90907H11.1508C11.4184 2.90907 11.6356 2.69186 11.6356 2.42423V0.484845C11.6356 0.217211 11.4184 0 11.1508 0Z" fill="currentColor"/>
			<path d="M11.1508 4.36328H9.21141C8.94377 4.36328 8.72656 4.58049 8.72656 4.84813V6.78751C8.72656 7.05514 8.94377 7.27235 9.21141 7.27235H11.1508C11.4184 7.27235 11.6356 7.05514 11.6356 6.78751V4.84813C11.6356 4.58049 11.4184 4.36328 11.1508 4.36328Z" fill="currentColor"/>
			<path d="M11.1508 8.72754H9.21141C8.94377 8.72754 8.72656 8.94475 8.72656 9.21238V11.1518C8.72656 11.4194 8.94377 11.6366 9.21141 11.6366H11.1508C11.4184 11.6366 11.6356 11.4194 11.6356 11.1518V9.21238C11.6356 8.94475 11.4184 8.72754 11.1508 8.72754Z" fill="currentColor"/>
			<path d="M11.1508 13.0908H9.21141C8.94377 13.0908 8.72656 13.308 8.72656 13.5757V15.515C8.72656 15.7827 8.94377 15.9999 9.21141 15.9999H11.1508C11.4184 15.9999 11.6356 15.7827 11.6356 15.515V13.5757C11.6356 13.308 11.4184 13.0908 11.1508 13.0908Z" fill="currentColor"/>
			<path d="M15.516 0H13.5766C13.309 0 13.0918 0.217211 13.0918 0.484845V2.42423C13.0918 2.69186 13.309 2.90907 13.5766 2.90907H15.516C15.7837 2.90907 16.0009 2.69186 16.0009 2.42423V0.484845C16.0009 0.217211 15.7837 0 15.516 0Z" fill="currentColor"/>
			<path d="M15.516 4.36328H13.5766C13.309 4.36328 13.0918 4.58049 13.0918 4.84813V6.78751C13.0918 7.05514 13.309 7.27235 13.5766 7.27235H15.516C15.7837 7.27235 16.0009 7.05514 16.0009 6.78751V4.84813C16.0009 4.58049 15.7837 4.36328 15.516 4.36328Z" fill="currentColor"/>
			<path d="M15.516 8.72754H13.5766C13.309 8.72754 13.0918 8.94475 13.0918 9.21238V11.1518C13.0918 11.4194 13.309 11.6366 13.5766 11.6366H15.516C15.7837 11.6366 16.0009 11.4194 16.0009 11.1518V9.21238C16.0009 8.94475 15.7837 8.72754 15.516 8.72754Z" fill="currentColor"/>
			<path d="M15.516 13.0908H13.5766C13.309 13.0908 13.0918 13.308 13.0918 13.5757V15.515C13.0918 15.7827 13.309 15.9999 13.5766 15.9999H15.516C15.7837 15.9999 16.0009 15.7827 16.0009 15.515V13.5757C16.0009 13.308 15.7837 13.0908 15.516 13.0908Z" fill="currentColor"/>
		</svg>
	{% when 'grid-2' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<rect width="7.11107" height="7.11107" rx="1" fill="currentColor"/>
			<rect y="8.88867" width="7.11107" height="7.11107" rx="1" fill="currentColor"/>
			<rect x="8.88867" width="7.11107" height="7.11107" rx="1" fill="currentColor"/>
			<rect x="8.88867" y="8.88867" width="7.11107" height="7.11107" rx="1" fill="currentColor"/>
		</svg>
	{% when 'grid-1' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<rect x="2" y="2" width="12" height="12" rx="1" fill="currentColor"/>
		</svg>
	{% when 'double-arrow' %}
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
			<path d="M21.9209 11.6199C21.8733 11.4972 21.8019 11.385 21.7109 11.2899L19.2109 8.78994C19.0226 8.60164 18.7672 8.49585 18.5009 8.49585C18.2346 8.49585 17.9792 8.60164 17.7909 8.78994C17.6026 8.97824 17.4968 9.23364 17.4968 9.49994C17.4968 9.76624 17.6026 10.0216 17.7909 10.2099L18.5909 10.9999H14.0009C13.7357 10.9999 13.4813 11.1053 13.2938 11.2928C13.1062 11.4804 13.0009 11.7347 13.0009 11.9999C13.0009 12.2652 13.1062 12.5195 13.2938 12.707C13.4813 12.8946 13.7357 12.9999 14.0009 12.9999H18.5909L17.7909 13.7899C17.6971 13.8829 17.6227 13.9935 17.572 14.1154C17.5212 14.2372 17.4951 14.3679 17.4951 14.4999C17.4951 14.632 17.5212 14.7627 17.572 14.8845C17.6227 15.0064 17.6971 15.117 17.7909 15.2099C17.8838 15.3037 17.9944 15.3781 18.1163 15.4288C18.2382 15.4796 18.3689 15.5057 18.5009 15.5057C18.6329 15.5057 18.7636 15.4796 18.8855 15.4288C19.0073 15.3781 19.1179 15.3037 19.2109 15.2099L21.7109 12.7099C21.8019 12.6148 21.8733 12.5027 21.9209 12.3799C22.0209 12.1365 22.0209 11.8634 21.9209 11.6199ZM10.0009 10.9999H5.41087L6.21087 10.2099C6.39918 10.0216 6.50496 9.76624 6.50496 9.49994C6.50496 9.23364 6.39918 8.97824 6.21087 8.78994C6.02257 8.60164 5.76717 8.49585 5.50087 8.49585C5.23457 8.49585 4.97918 8.60164 4.79087 8.78994L2.29087 11.2899C2.19983 11.385 2.12847 11.4972 2.08087 11.6199C1.98085 11.8634 1.98085 12.1365 2.08087 12.3799C2.12847 12.5027 2.19983 12.6148 2.29087 12.7099L4.79087 15.2099C4.88384 15.3037 4.99444 15.3781 5.1163 15.4288C5.23816 15.4796 5.36886 15.5057 5.50087 15.5057C5.63288 15.5057 5.76359 15.4796 5.88545 15.4288C6.00731 15.3781 6.11791 15.3037 6.21087 15.2099C6.3046 15.117 6.379 15.0064 6.42976 14.8845C6.48053 14.7627 6.50667 14.632 6.50667 14.4999C6.50667 14.3679 6.48053 14.2372 6.42976 14.1154C6.379 13.9935 6.3046 13.8829 6.21087 13.7899L5.41087 12.9999H10.0009C10.2661 12.9999 10.5204 12.8946 10.708 12.707C10.8955 12.5195 11.0009 12.2652 11.0009 11.9999C11.0009 11.7347 10.8955 11.4804 10.708 11.2928C10.5204 11.1053 10.2661 10.9999 10.0009 10.9999Z" fill="black"/>
		</svg>
	{% when 'success' %}
		<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-success" viewBox="0 0 13 13">
			<path
				d="M6.5 12.35C9.73087 12.35 12.35 9.73086 12.35 6.5C12.35 3.26913 9.73087 0.65 6.5 0.65C3.26913 0.65 0.65 3.26913 0.65 6.5C0.65 9.73086 3.26913 12.35 6.5 12.35Z"
				fill="#428445" stroke="white" stroke-width="0.7"></path>
			<path d="M5.53271 8.66357L9.25213 4.68197" stroke="white"></path>
			<path d="M4.10645 6.7688L6.13766 8.62553" stroke="white">
			</path>
		</svg>
	{% when 'error' %}
		<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
			<circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"></circle>
			<circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"></circle>
			<path
				d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z"
				fill="white"></path>
			<path
				d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z"
				fill="white" stroke="#EB001B" stroke-width="0.7">
			</path>
		</svg>
	{% when 'share-stroke' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M12 14.666C13.1046 14.666 14 13.7706 14 12.666C14 11.5614 13.1046 10.666 12 10.666C10.8954 10.666 10 11.5614 10 12.666C10 13.7706 10.8954 14.666 12 14.666Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M4 10C5.10457 10 6 9.10457 6 8C6 6.89543 5.10457 6 4 6C2.89543 6 2 6.89543 2 8C2 9.10457 2.89543 10 4 10Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M5.72656 9.00586L10.2799 11.6592" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M12 5.33398C13.1046 5.33398 14 4.43855 14 3.33398C14 2.22941 13.1046 1.33398 12 1.33398C10.8954 1.33398 10 2.22941 10 3.33398C10 4.43855 10.8954 5.33398 12 5.33398Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M10.2732 4.33984L5.72656 6.99318" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	{% when 'filters' %}
		<svg class="icon" width="16" height="16" aria-hidden="true" focusable="false" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1 3.49953H1.071C1.18014 3.92832 1.42903 4.30853 1.77836 4.58009C2.12769 4.85164 2.55754 4.99906 3 4.99906C3.44246 4.99906 3.87231 4.85164 4.22164 4.58009C4.57097 4.30853 4.81986 3.92832 4.929 3.49953H15C15.1326 3.49953 15.2598 3.44685 15.3536 3.35309C15.4473 3.25932 15.5 3.13214 15.5 2.99953C15.5 2.86692 15.4473 2.73975 15.3536 2.64598C15.2598 2.55221 15.1326 2.49953 15 2.49953H4.929C4.81986 2.07074 4.57097 1.69053 4.22164 1.41898C3.87231 1.14742 3.44246 1 3 1C2.55754 1 2.12769 1.14742 1.77836 1.41898C1.42903 1.69053 1.18014 2.07074 1.071 2.49953H1C0.867392 2.49953 0.740215 2.55221 0.646447 2.64598C0.552678 2.73975 0.5 2.86692 0.5 2.99953C0.5 3.13214 0.552678 3.25932 0.646447 3.35309C0.740215 3.44685 0.867392 3.49953 1 3.49953ZM3 1.99953C3.19778 1.99953 3.39112 2.05818 3.55557 2.16806C3.72002 2.27794 3.84819 2.43412 3.92388 2.61685C3.99957 2.79957 4.01937 3.00064 3.98079 3.19462C3.9422 3.3886 3.84696 3.56679 3.70711 3.70664C3.56725 3.84649 3.38907 3.94173 3.19509 3.98032C3.00111 4.0189 2.80004 3.9991 2.61732 3.92341C2.43459 3.84772 2.27841 3.71955 2.16853 3.5551C2.05865 3.39065 2 3.19731 2 2.99953C2 2.73432 2.10536 2.47996 2.29289 2.29243C2.48043 2.10489 2.73478 1.99953 3 1.99953ZM15 7.49953H14.929C14.8199 7.07074 14.571 6.69053 14.2216 6.41898C13.8723 6.14742 13.4425 6 13 6C12.5575 6 12.1277 6.14742 11.7784 6.41898C11.429 6.69053 11.1801 7.07074 11.071 7.49953H1C0.867392 7.49953 0.740215 7.55221 0.646447 7.64598C0.552678 7.73975 0.5 7.86692 0.5 7.99953C0.5 8.13214 0.552678 8.25932 0.646447 8.35309C0.740215 8.44685 0.867392 8.49953 1 8.49953H11.071C11.1801 8.92832 11.429 9.30853 11.7784 9.58009C12.1277 9.85164 12.5575 9.99907 13 9.99907C13.4425 9.99907 13.8723 9.85164 14.2216 9.58009C14.571 9.30853 14.8199 8.92832 14.929 8.49953H15C15.1326 8.49953 15.2598 8.44685 15.3536 8.35309C15.4473 8.25932 15.5 8.13214 15.5 7.99953C15.5 7.86692 15.4473 7.73975 15.3536 7.64598C15.2598 7.55221 15.1326 7.49953 15 7.49953ZM13 8.99953C12.8022 8.99953 12.6089 8.94088 12.4444 8.831C12.28 8.72112 12.1518 8.56494 12.0761 8.38222C12.0004 8.19949 11.9806 7.99842 12.0192 7.80444C12.0578 7.61046 12.153 7.43228 12.2929 7.29243C12.4327 7.15257 12.6109 7.05733 12.8049 7.01875C12.9989 6.98016 13.2 6.99997 13.3827 7.07565C13.5654 7.15134 13.7216 7.27951 13.8315 7.44396C13.9414 7.60841 14 7.80175 14 7.99953C14 8.26475 13.8946 8.5191 13.7071 8.70664C13.5196 8.89418 13.2652 8.99953 13 8.99953ZM15 12.4995H9.929C9.81986 12.0707 9.57097 11.6905 9.22164 11.419C8.87231 11.1474 8.44246 11 8 11C7.55754 11 7.12769 11.1474 6.77836 11.419C6.42903 11.6905 6.18014 12.0707 6.071 12.4995H1C0.867392 12.4995 0.740215 12.5522 0.646447 12.646C0.552678 12.7397 0.5 12.8669 0.5 12.9995C0.5 13.1321 0.552678 13.2593 0.646447 13.3531C0.740215 13.4469 0.867392 13.4995 1 13.4995H6.071C6.18014 13.9283 6.42903 14.3085 6.77836 14.5801C7.12769 14.8516 7.55754 14.9991 8 14.9991C8.44246 14.9991 8.87231 14.8516 9.22164 14.5801C9.57097 14.3085 9.81986 13.9283 9.929 13.4995H15C15.1326 13.4995 15.2598 13.4469 15.3536 13.3531C15.4473 13.2593 15.5 13.1321 15.5 12.9995C15.5 12.8669 15.4473 12.7397 15.3536 12.646C15.2598 12.5522 15.1326 12.4995 15 12.4995ZM8 13.9995C7.80222 13.9995 7.60888 13.9409 7.44443 13.831C7.27998 13.7211 7.15181 13.5649 7.07612 13.3822C7.00043 13.1995 6.98063 12.9984 7.01921 12.8044C7.0578 12.6105 7.15304 12.4323 7.29289 12.2924C7.43275 12.1526 7.61093 12.0573 7.80491 12.0187C7.99889 11.9802 8.19996 12 8.38268 12.0757C8.56541 12.1513 8.72159 12.2795 8.83147 12.444C8.94135 12.6084 9 12.8018 9 12.9995C9 13.2647 8.89464 13.5191 8.70711 13.7066C8.51957 13.8942 8.26522 13.9995 8 13.9995Z" fill="currentColor"/>
		</svg>
	{% when 'burger-menu' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M3 7H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
			<path d="M3 12H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
			<path d="M3 17H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
		</svg>
	{% when 'shipping' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M13 14.75H2C1.59 14.75 1.25 14.41 1.25 14V6C1.25 3.38 3.38 1.25 6 1.25H15C15.41 1.25 15.75 1.59 15.75 2V12C15.75 13.52 14.52 14.75 13 14.75ZM2.75 13.25H13C13.69 13.25 14.25 12.69 14.25 12V2.75H6C4.21 2.75 2.75 4.21 2.75 6V13.25Z" fill="currentColor"/>
			<path d="M19 20.75H18C17.59 20.75 17.25 20.41 17.25 20C17.25 19.31 16.69 18.75 16 18.75C15.31 18.75 14.75 19.31 14.75 20C14.75 20.41 14.41 20.75 14 20.75H10C9.59 20.75 9.25 20.41 9.25 20C9.25 19.31 8.69 18.75 8 18.75C7.31 18.75 6.75 19.31 6.75 20C6.75 20.41 6.41 20.75 6 20.75H5C2.93 20.75 1.25 19.07 1.25 17V14C1.25 13.59 1.59 13.25 2 13.25H13C13.69 13.25 14.25 12.69 14.25 12V5C14.25 4.59 14.59 4.25 15 4.25H16.84C17.83 4.25 18.74 4.78001 19.23 5.64001L20.94 8.63C21.07 8.86 21.07 9.15 20.94 9.38C20.81 9.61 20.56 9.75 20.29 9.75H19C18.86 9.75 18.75 9.86 18.75 10V13C18.75 13.14 18.86 13.25 19 13.25H22C22.41 13.25 22.75 13.59 22.75 14V17C22.75 19.07 21.07 20.75 19 20.75ZM18.65 19.25H19C20.24 19.25 21.25 18.24 21.25 17V14.75H19C18.04 14.75 17.25 13.96 17.25 13V10C17.25 9.04 18.03 8.25 19 8.25L17.93 6.38C17.71 5.99 17.29 5.75 16.84 5.75H15.75V12C15.75 13.52 14.52 14.75 13 14.75H2.75V17C2.75 18.24 3.76 19.25 5 19.25H5.35001C5.68001 18.1 6.74 17.25 8 17.25C9.26 17.25 10.32 18.1 10.65 19.25H13.36C13.69 18.1 14.75 17.25 16.01 17.25C17.27 17.25 18.32 18.1 18.65 19.25Z" fill="currentColor"/>
			<path d="M8 22.75C6.48 22.75 5.25 21.52 5.25 20C5.25 18.48 6.48 17.25 8 17.25C9.52 17.25 10.75 18.48 10.75 20C10.75 21.52 9.52 22.75 8 22.75ZM8 18.75C7.31 18.75 6.75 19.31 6.75 20C6.75 20.69 7.31 21.25 8 21.25C8.69 21.25 9.25 20.69 9.25 20C9.25 19.31 8.69 18.75 8 18.75Z" fill="currentColor"/>
			<path d="M16 22.75C14.48 22.75 13.25 21.52 13.25 20C13.25 18.48 14.48 17.25 16 17.25C17.52 17.25 18.75 18.48 18.75 20C18.75 21.52 17.52 22.75 16 22.75ZM16 18.75C15.31 18.75 14.75 19.31 14.75 20C14.75 20.69 15.31 21.25 16 21.25C16.69 21.25 17.25 20.69 17.25 20C17.25 19.31 16.69 18.75 16 18.75Z" fill="currentColor"/>
			<path d="M22 14.75H19C18.04 14.75 17.25 13.96 17.25 13V10C17.25 9.04 18.04 8.25 19 8.25H20.29C20.56 8.25 20.81 8.39 20.94 8.63L22.65 11.63C22.71 11.74 22.75 11.87 22.75 12V14C22.75 14.41 22.41 14.75 22 14.75ZM19 9.75C18.86 9.75 18.75 9.86 18.75 10V13C18.75 13.14 18.86 13.25 19 13.25H21.25V12.2L19.85 9.75H19Z" fill="currentColor"/>
		</svg>
	{% when 'model' %}
		<svg class="icon" aria-hidden="true" focusable="false" role="presentation" class="icon icon-model" fill="none" viewBox="0 0 18 21">
			<path d="M7.67998 20.629L1.28002 16.723C0.886205 16.4784 0.561675 16.1368 0.337572 15.731C0.113468 15.3251 -0.00274623 14.8686 -1.39464e-05 14.405V6.59497C-0.00238367 6.13167 0.113819 5.6755 0.33751 5.26978C0.561202 4.86405 0.884959 4.52227 1.278 4.27698L7.67796 0.377014C8.07524 0.131403 8.53292 0.000877102 8.99999 9.73346e-08C9.46678 -0.000129605 9.92446 0.129369 10.322 0.374024V0.374024L16.722 4.27399C17.1163 4.51985 17.4409 4.86287 17.6647 5.27014C17.8885 5.67742 18.0039 6.13529 18 6.59998V14.409C18.0026 14.8725 17.8864 15.3289 17.6625 15.7347C17.4386 16.1405 17.1145 16.4821 16.721 16.727L10.321 20.633C9.92264 20.8742 9.46565 21.0012 8.99999 21C8.53428 20.9998 8.07761 20.8714 7.67998 20.629V20.629ZM8.72398 2.078L2.32396 5.97803C2.22303 6.04453 2.14066 6.13551 2.08452 6.24255C2.02838 6.34959 2.00031 6.46919 2.00298 6.59003V14.4C2.00026 14.5205 2.02818 14.6396 2.08415 14.7463C2.14013 14.853 2.22233 14.9438 2.32298 15.01L7.99999 18.48V10.919C8.00113 10.5997 8.08851 10.2867 8.25292 10.0129C8.41732 9.73922 8.65267 9.51501 8.93401 9.36401L15.446 5.841L9.28001 2.08002C9.19614 2.02738 9.09901 1.99962 8.99999 2C8.90251 1.99972 8.8069 2.02674 8.72398 2.078V2.078Z" fill="currentColor"/>
		</svg>
	{% when 'product-play' %}
		<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-product-play" fill="none" viewBox="0 0 10 14">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M1.48177 0.814643C0.81532 0.448245 0 0.930414 0 1.69094V12.2081C0 12.991 0.858787 13.4702 1.52503 13.0592L10.5398 7.49813C11.1918 7.09588 11.1679 6.13985 10.4965 5.77075L1.48177 0.814643Z" fill="currentColor"></path>
		</svg>
	{% when 'point-button' %}
		<svg class="icon" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
			<rect width="48" height="48" rx="24" fill="white" fill-opacity="0.2"/>
			<circle cx="24" cy="24" r="4" fill="white"/>
		</svg>
	{% when 'location' %}
		<svg class="icon" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
			<g clip-path="url(#clip0_10393_36747)">
				<path d="M14 6.6665C14 11.3332 8 15.3332 8 15.3332C8 15.3332 2 11.3332 2 6.6665C2 5.07521 2.63214 3.54908 3.75736 2.42386C4.88258 1.29864 6.4087 0.666504 8 0.666504C9.5913 0.666504 11.1174 1.29864 12.2426 2.42386C13.3679 3.54908 14 5.07521 14 6.6665Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M8 8.6665C9.10457 8.6665 10 7.77107 10 6.6665C10 5.56193 9.10457 4.6665 8 4.6665C6.89543 4.6665 6 5.56193 6 6.6665C6 7.77107 6.89543 8.6665 8 8.6665Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			</g>
			<defs>
				<clipPath id="clip0_10393_36747">
					<rect width="16" height="16" fill="white"/>
				</clipPath>
			</defs>
		</svg>
	{% when 'spot-button-point' %}
		<svg class="icon" aria-hidden="true" focusable="false" width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
			<circle cx="4" cy="4" r="4" fill="currentColor"/>
		</svg>
	{% else %}
		<span>No icon found!</span>
{% endcase %}
