{% comment %}
------------------------------------------------------------------------------
  Snippet: Product Form
  ---------------------------
  Use blocks:
  	- "Vendor and SKU"
	- "Title"
	- "Options"
	- "Quantity"
	- "Price"
	- "Add to cart"
	- "Pickup availability"
	- "Sales point"
	- "Notify me"
	- "Custom liquid"
------------------------------------------------------------------------------
{% endcomment %}
{% assign is_preset = false %}

{% if product == blank %}
	{% assign is_preset = true %}
{% endif %}

{%- assign show_sticky_add_to_cart = section.settings.show_sticky_add_to_cart -%}

{% assign use_variant = false %}

{% if product.variants.size > 1 %}
	{% assign use_variant = true %}
{% endif %}

{% if blocks.size > 0 %}
	{% comment %}
			The repeated content inside the <form> and <div> tags is there for a reason.
			Liquid "form" tag cannot be designated as separately opening and separately closing.
			If the Liquid "form" tag is replaced with an HTML tag,
			then we will not be able to pass the "form" object to the "Price" snippet.
			There, the "form" object is used to render "payment_terms"
			Please fix this issue before changing anything.
		{% endcomment %}
	{% if product != blank %}
		{% form 'product',
			product,
			data-js-product-form: true,
			class: 'product-form js-product-sticky-container',
			data-section-id: section.id,
			data-enable-history-state: enable_history_state,
			data-template: product_template
		%}
			{% include 'product-json' %}

			{% if product.template_suffix == 'pre-order' %}
				<input type="hidden" name="properties[_Pre-order]" value="true">
			{% endif %}

			{% for block in blocks  %}
				{% case block.type %}
					{% when 'badges' %}
						{% render 'product-badges', block: block, product: product, is_preset: is_preset %}
					{% when 'vendor' %}
						{% render 'product-vendor-sku', block: block, product: product, is_preset: is_preset %}
					{% when 'title' %}
						{% render 'product-title', block: block, product: product, is_preset: is_preset %}
					{% when 'description' %}
						{% render 'product-description', block: block, product: product, is_preset: is_preset %}
					{% when 'product_combination' %}
						{% render 'product-combination', block: block, product: product %}
					{% when 'options' %}
						{% render 'product-options', section: section, block: block, product: product %}
					{% when 'quantity' %}
						{% render 'product-quantity', block: block, product: product %}
					{% when 'price' %}
						{%- render 'price',
							product: product,
							use_variant: use_variant,
							show_unit_price: settings.is_show_unit_price,
							currency_code_enabled: settings.is_currency_code_enabled,
							price_class: 'product-price h4',
							hide_from_price: true,
							show_taxes_included: section.settings.show_taxes_included,
							show_pay_installments: section.settings.show_pay_installments,
							form: form,
							show_volume_pricing_info: true,
							block: block
						-%}
					{% when 'add_to_cart' %}
						{% render 'product-add-to-cart',
							form: form,
							section: section,
							blocks: blocks,
							block: block,
							use_variant: use_variant,
							show_sticky_add_to_cart: show_sticky_add_to_cart,
							product: product
						%}
					{% when 'pickup_availability' %}
						{% render 'product-pickup-availability', product: product, block: block, section_id: section.id %}
					{% when 'drawers' %}
						{% render 'product-drawers', product: product, block: block, section: section %}
					{% when 'complementary' %}
						{% render 'product-complementary', product: product, block: block, section_id: section.id %}
					{% when 'sales_point' %}
						{% render 'product-sales-point', block: block %}
					{% when 'inventory_status' %}
						{% render 'product-inventory-status', block: block, product: product %}
					{% when 'text' %}
						{% render 'product-text', block: block %}
					{% when 'option_accuracy' %}
						{% render 'product-option-accuracy', block: block %}
					{% when 'progress_range' %}
						{% render 'product-progress-range', block: block %}
					{% when 'discount' %}
						{% render 'product-discount', block: block %}
					{% when 'custom_liquid' %}
						{% render 'product-custom-liquid', block: block %}
					{% when 'notify_me' %}
						{% render 'product-notify-me-button', block: block, section_id: section.id %}
					{% when 'ask_question' %}
						{% render 'product-ask-question-button', block: block, section_id: section.id %}
					{% when 'gift_wrap_product' %}
						{% render 'product-gift-box', product: product, block: block %}
					{% when 'countdown_timer' %}
						{%- assign text 						= block.settings.text -%}
						{%- assign icon 						= block.settings.icon -%}
						{%- assign text_color 					= block.settings.text_color | default: "#000000" -%}
						{%- assign timer_text_color 			= block.settings.timer_text_color  | default: "#ffffff" -%}
						{%- assign timer_background_color 		= block.settings.timer_background_color  | default: "#000000" -%}
						{%- assign offset_top_desktop 			= block.settings.offset_top_desktop -%}
						{%- assign offset_bottom_desktop 		= block.settings.offset_bottom_desktop -%}
						{%- assign offset_top_mobile 			= block.settings.offset_top_mobile -%}
						{%- assign offset_bottom_mobile 		= block.settings.offset_bottom_mobile -%}

						{% render 'product-countdown-timer',
							product: product,
							text: text,
							icon: icon,
							text_color: text_color,
							timer_text_color: timer_text_color,
							timer_background_color: timer_background_color,
							offset_top_desktop: offset_top_desktop,
							offset_bottom_desktop: offset_bottom_desktop,
							offset_top_mobile: offset_top_mobile,
							offset_bottom_mobile: offset_bottom_mobile
						%}
					{% when 'custom_field' %}
						{% render 'product-custom-field', block: block %}
					{% when 'socials' %}
						{% render 'product-share-buttons', block: block, product: product, section_id: section.id %}
					{% when 'benefits' %}
						{% render 'product-benefits', block: block %}
					{% else %}
						{% render block %}
				{% endcase %}
			{% endfor %}
		{% endform %}
	{% else %}
		<div
			id="product_form_{{- product.id -}}"
			class="shopify-product-form product-form js-product-sticky-container"
			data-section-id="{{- section.id -}}"
		>
			{% for block in blocks  %}
				{% case block.type %}
					{% when 'badges' %}
						{% render 'product-badges', block: block, product: product, is_preset: is_preset %}
					{% when 'vendor' %}
						{% render 'product-vendor-sku', block: block, product: product, is_preset: is_preset %}
					{% when 'title' %}
						{% render 'product-title', block: block, product: product, is_preset: is_preset %}
					{% when 'options' %}
						{% render 'product-options', section: section, block: block, product: product %}
					{% when 'quantity' %}
						{% render 'product-quantity', block: block, product: product %}
					{% when 'price' %}
						{%- render 'price',
							product: product,
							use_variant: use_variant,
							show_unit_price: settings.is_show_unit_price,
							currency_code_enabled: settings.is_currency_code_enabled,
							price_class: 'product-price h4',
							hide_from_price: true,
							show_taxes_included: section.settings.show_taxes_included,
							show_pay_installments: section.settings.show_pay_installments,
							form: form,
							block: block
						-%}
					{% when 'add_to_cart' %}
						{% render 'product-add-to-cart',
							form: form,
							section: section,
							block: block,
							blocks: blocks,
							use_variant: use_variant,
							show_sticky_add_to_cart: show_sticky_add_to_cart,
							product: product
						%}
					{% when 'pickup_availability' %}
						{% render 'product-pickup-availability', product: product, block: block, section_id: section.id %}
					{% when 'drawers' %}
						{% render 'product-drawers', product: product, block: block, section: section %}
					{% when 'custom_liquid' %}
						{% render 'product-custom-liquid', block: block %}
					{% when 'socials' %}
						{% render 'product-share-buttons', block: block, product: product, section_id: section.id %}
					{% else %}
						{% render block %}
				{% endcase %}
			{% endfor %}
		</div>
	{% endif %}
{% endif %}
