{% comment %}
	------------------------------------------------------------------------------
	Snippet: Sort
	- product_list: Collection or Search object (required)

	Usage:

	{%- render 'sort', product_list: collection -%}
	or
	{%- render 'sort', product_list: search -%}
	------------------------------------------------------------------------------
{% endcomment %}

{%- render 'adastra' with '/src/styles/sort.scss' -%}

{%- assign sort_by = product_list.sort_by | default: product_list.default_sort_by -%}

<div class="sort">
	<label class="visually-hidden" for="Sort">
		{{- 'collections.sorting.title' | t -}}
	</label>

	<select
		class="focus-visible-outline sort__select"
		id="Sort"
		name="sort_by"
		aria-label="{{- 'collections.sorting.title' | t | escape -}}"
	>
		{%- for option in product_list.sort_options -%}
			<option
				class="sort__option"
				value="{{- option.value | escape -}}"
				{%- if option.value == sort_by -%}
					selected
				{%- endif -%}
			>
				{{- option.name | escape -}}
			</option>
		{%- endfor -%}
	</select>
</div>
