.password-footer {
  width: 100%;
  max-width: calc(100% - 32px);
  margin: 16px auto;
  background-color: var(--background-color, #F6F6F6);
  border-radius: var(--global-border-radius);
  color: var(--text-color, var(--color-text-primary));
}
.password-footer .password-footer__container {
  width: 100%;
  max-width: 1710px;
  margin: 0 auto;
  padding: 16px 0;
}
.password-footer .password-footer__container.password-footer__container--offset {
  padding: 16px;
}
.password-footer .password-footer__text {
  text-align: center;
}
.password-footer .password-footer__text a {
  display: inline-flex;
  align-items: center;
  padding-bottom: 2px;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid currentColor;
  line-height: 1.375;
  font-weight: 500;
  text-decoration: none;
  word-break: break-word;
  transition-property: border-color;
  transition-duration: var(--timing-short);
  color: currentColor;
}
.password-footer .password-footer__text a:focus-visible {
  outline-color: currentColor;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .password-footer .password-footer__text a:hover {
    border-color: transparent;
  }
}